.border-text {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    letter-spacing: 2px;
    font-family: 'Baloo Tamma 2', cursive;
}

.border {
    position: relative;
    top: 100px;
    left: 0px;
    right: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(170, 170, 170, 0.6);
    background: rgba(240, 240, 240, .5);
    height: 50px;
    overflow:hidden;
    // border-style: inset;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.12), 0 -3px 3px rgba(0, 0, 0, 0.24);
}


.border-caption1{
    padding-right: 65px;
    position:relative;
}

.border-caption3{
    // background: black;
    color: black;
    border-radius: 2px;
    animation: slide 10s linear infinite;
    
}
.border-caption4{
    // background: black;
    color: black;
    border-radius: 2px;
    // animation: slide 4s linear infinite;
    
}
.border-caption5{
    // background: black;
    color: black;
    border-radius: 2px;
    // animation: slide 4s linear infinite;

}

.slider2 div {
    height: 50px;
    margin-bottom: 50px;
    text-align:center;

}

.slider2{
    overflow:hidden;
}

@keyframes slide {
    0% {margin-top: 0px; }
    10% {margin-top: -200px;}
    33% {margin-top: -200px;}
    38%{margin-top: -100px;}
    66% {margin-top: -100px;}
    71% {margin-top: 0px;}
    72% {margin-top: 0px;}
    80% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

.slider-wrap{
    display: flex;
}

.border-text .slider2{
    // margin-right: 40px;
    // overflow: hidden;
}

.test{
    position: absolute;
    margin-left: 20px;
}

.border-caption2{
    position:relative;
    margin-left: -10px;
}