.kobe-modal .is-open{

}

.kobe-modal-form {
    position: absolute;
    top: 130px;
    width: 100%;
    padding: 20px;
    z-index: 999999;
    border-radius: 3px;

}


.kobe-modal-screen {
    position: fixed;
    background: rgba(0, 0, 0, 1);
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}