// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create-form-container{
    padding-top: 70px;
    display: flex;
    position: relative;
    justify-content: center;
    left: 8px;
}


.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: 0 0 1px #333;
}


//your reviews

.your-reviews-container {
    top: 100px;
    position: relative;
    
}

.your-reviews-image {
    height: 250px;
    width: 250px;
    display: inline-block;
    position: relative;
}

.your-reviews-header {
    position: relative;
    display: flex;
    justify-content: center;
    left: -15px;
    font-family: 'Roboto', sans-serif;
}

.your-reviews-info {
    display: inline-block;
    position: relative;
    left: 5%;
    top: -160px;
}

.your-reviews-element{
    width: 650px;
    height: 250px;
    position: relative;
    left: 25%;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.your-reviews-product{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 17px;
    position: relative;
    top: 10px;
    color: rgba(130, 130, 130, .8);
}

.your-reviews-title{
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    top: 15px;
}

.your-reviews-body{
    position: absolute;
    top: 80px;
    height: 80px;
    width: 300px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-family: 'Pathway Gothic One', sans-serif;
    overflow: auto;
    letter-spacing: 1px;

}

.your-reviews-rating{
    position: relative;
    top: 140px;
    font-family: 'Baloo Tamma 2', cursive;
}

.your-reviews-edit {
    position: relative;
    top: 150px;
}

.your-reviews-delete{
    position: relative;
    top: 150px;
}

.your-reviews-star{
    display: inline-block;
    position: relative;
    top: 3px;
}

.your-reviews-link{
    text-decoration: none;
    color: white;

}

.your-reviews-edit{
    background-color: rgb(141, 209, 231);
    outline: none;
    cursor: pointer;
    color: white;
}

.your-reviews-delete{
    background-color: rgb(252, 102, 102);
    outline: none;
    cursor: pointer;
    color: white;
}

.your-reviews-edit:hover{
    background-color: rgb(7, 175, 231);
}

.your-reviews-delete:hover{
    background-color: rgb(248, 45, 45);
}

.your-reviews-date{
    display: inline-block;
    font-size: 10px;
    position: relative;
    left: 200px;;
}