// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create-form-container{
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    position: relative;
    justify-content: center;
    left: 8px;
    font-family: 'Baloo Tamma 2', cursive;
}


.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: 0 0 1px #333;
}


//your reviews

.your-reviews-container {
    top: 100px;
    position: relative;
    
}

.your-reviews-image {
    height: 250px;
    width: 250px;
    display: inline-block;
    position: relative;
}

.your-reviews-header {
    position: relative;
    display: flex;
    justify-content: center;
    left: -15px;
    font-family: 'Roboto', sans-serif;
}

.your-reviews-info {
    display: inline-block;
    position: relative;
    left: 5%;
    top: -160px;
}

.your-reviews-element{
    width: 650px;
    height: 250px;
    position: relative;
    left: 25%;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.your-reviews-product{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 17px;
    position: relative;
    top: 30px;
    color: rgba(130, 130, 130, .8);
}

.your-reviews-title{
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    top: 15px;
}

.your-reviews-body{
    position: absolute;
    top: 100px;
    height: 80px;
    width: 300px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-family: 'Pathway Gothic One', sans-serif;
    overflow: auto;
    letter-spacing: 1px;

}

.your-reviews-rating{
    position: relative;
    top: 140px;
    font-family: 'Baloo Tamma 2', cursive;
}

.your-reviews-edit {
    position: relative;
    top: 150px;
}

.your-reviews-delete{
    position: relative;
    top: 150px;
}

.your-reviews-star{
    display: inline-block;
    position: relative;
    top: 3px;
}

.your-reviews-link{
    text-decoration: none;
    color: white;

}

.your-reviews-edit{
    background-color: rgb(141, 209, 231);
    outline: none;
    cursor: pointer;
    color: white;
}

.your-reviews-delete{
    background-color: rgb(252, 102, 102);
    outline: none;
    cursor: pointer;
    color: white;
}

.your-reviews-edit:hover{
    background-color: rgb(7, 175, 231);
}

.your-reviews-delete:hover{
    background-color: rgb(248, 45, 45);
}

.your-reviews-date{
    font-size: 10px;
    position: relative;
    left: 300px;
    top: 10px;
    font-family: 'Baloo Tamma 2', cursive;
    color: rgba(130, 130, 130, .8);
}

//editreview form

.edit-review-container{
    top: 100px;
    position: relative;
}

.edit-review-header{
    position: relative;
    display: flex;
    justify-content: center;
    // left: -15px;
    font-family: 'Roboto', sans-serif;
}

.edit-review-image{
    height: 250px;
    width: 250px;
    display: inline-block;
    position: relative;

}

.edit-review-element{
    width: 650px;
    height: 250px;
    position: relative;
    left: 25%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

.edit-review-info{
    position: relative;
    display: inline-block;
    top: -0px;
    left: 5%;
}

.edit-review-product{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 17px;
    position: relative;
    top: -260px;
    left: 250px;
    color: rgba(130, 130, 130, .8);
}

.edit-review-title{
    position: relative;
    top: -330px;
    left: 250px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 170px;
    font-size: 15px;
}
.edit-review-body{
    resize: none;
    position: relative;
    top: -200px;
    width: 300px;
    height: 80px;
    left: 55px;
    padding: 10px;
    overflow: auto;
    
}

.edit-review-body:focus{
    outline: none;
}

.edit-review-title{
    outline: none;
}


.edit-review-rate {
    position: relative;
    top: -200px;
    left: 250px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.edit-review-button{
    position: relative;
    top: -210px;
    left: 380px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(129, 255, 129);
}

.edit-review-button:hover{
    background-color: rgb(23, 212, 23);
}

.star-cb-group{
    position: relative;
    top: 50px;
    left: 260px;
}


//create review
.create-review-form{
    position:relative;
}
.create-review-header {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.create-review-title{
    position: relative;
    left: 190px;
    top: -80px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    font-size: 15px;
}

.create-review-body{
    position: relative;
    resize: none;
    width: 300px;
    height: 80px;
    left: -85px;
    top: 50px;
    padding: 10px;
    overflow: auto;
}

.create-review-rate{
    position: relative;
    top: 50px;
    left: 245px;
    font-family: 'Pathway Gothic One', sans-serif;
}
.review-button-div{
    display: flex;
    justify-content: center;
    position:relative;
    top: 70px;
}

.create-review-button{

}

.review-close {
    position: absolute;
    right: 32px;
    top: -10px;
    width: 12px;
    height: 12px;
    opacity: 0.2;
}
.review-close:hover {
    opacity: 1;
}
.review-close:before, .review-close:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.review-close:before {
    transform: rotate(45deg);
}
.review-close:after {
    transform: rotate(-45deg);
}


.create-review-button{
    visibility: visible;
    border:none;
    border-radius: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;

}

.create-review-button:focus{
    outline:0;
}

.create-review-button:hover{
    background-color: lightgray;
}

.create-button {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 15px;
    color: darkgrey;
}
.create-button:hover{
    color: lightskyblue;
}

//ratings index

.review-index-ratings {
    position: relative;
    display: flex;
    left : 70px;
    top: 0px;
}

.review-index-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    width: 110%;
    position: relative;
    display: flex;
    align-items: center;
}

.review-index-name{
    position: relative;
    left: 7px;
    padding-top: 5px;
    font-family: 'Baloo Tamma 2', cursive;
}

.review-index-title{
    position: relative;
    top: -20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.review-index-body{
    position: relative;
    top: -20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    width: 75%;
}

.review-index-info{
    position:relative;
    top: -100px;
    left: 80px;
}

.review-index-container {
    height: 120px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 110%;
    border-bottom: 1px solid lightgray;
}

.review-index-rate{
    position: relative;
    top: -20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.review-index-date{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 13px;
    position: relative;
    left: 5px;
    color: darkgrey;
}

.footer-main-review{
    position: relative;
    margin-top: 300px;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}

.footer-main-review2{
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}